#main-content {
    width: calc(100vw - 240px);
    height: 100vh;
    background-color: var(--gray-100);
    position: absolute;
    top: 0px;
    left: 240px;
    overflow-y: scroll;
    padding: 48px 32px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.board-cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.board-card {
    width: 190px;
    height: 96px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-card__footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.board-card__button {
    width: 24px;
    height: 24px;
    background-color: var(--white-transparent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.board-card__button:hover {
    background-color: var(--secondary-400);
}

.board-card__button:hover svg path {
    stroke: white;
}

.active svg path {
    fill: #5C5C5C;
}

.active:hover svg path {
    fill: white;
}

/* board creation or edit view */

.board-edit-view {
    height: 100vh;
    width: 100vw;
    background-color: var(--black-transparent);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-form__container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.board__input-container {
    background-color: var(--white-translucent-50);
    width: 100%;
    border-radius: 8px;
    padding: 0 4px;
}

.board__input-container
.input__content::placeholder {
    color: var(--gray-300);
}

.palette__options {
    display: grid;
    grid-template:repeat(3, 1fr) / repeat(3, 1fr);
    gap: 8px;
}

.color-option {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
}

.color-option:hover,
.color-option .selected {
    border: 2px solid white;
}

.popup {
    position: relative;
}

.close {
    position: absolute;
    right: -9.6px;
    top: -9.6px;
    vertical-align: middle;
    cursor: pointer;
}