<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="section-full bg-gray-100">
      <div class="container flex flex-column gap-8 items-center">
        <img src="../assets/images/logo.png" alt="rankable logo" />
        <h1 class="heading">Create Account</h1>
        <form action="" class="full-width container-sm flex flex-column gap-4">
          <div class="input">
            <label for="username" class="content-xs overline">Username</label>
            <div class="input__container">
              <img
                src="../assets/icons/user.svg"
                alt="user-icon"
                class="input__icon"
              />
              <input
                type="text"
                placeholder="placeholder"
                class="input__content"
                id="username"
                name="username"
                required
              />
            </div>
            <span class="input__error-message">Error message</span>
          </div>
          <div class="input">
            <label for="email" class="content-xs overline">Email</label>
            <div class="input__container">
              <img
                src="../assets/icons/mail.svg"
                alt="mail-icon"
                class="input__icon"
              />
              <input
                type="text"
                placeholder="username@mail.com"
                class="input__content"
                id="email"
                name="email"
                required
              />
            </div>
            <span class="input__error-message">Error message</span>
          </div>
          <div class="input">
            <label for="first_name" class="content-xs overline"
              >First name</label
            >
            <div class="input__container">
              <img
                src="../assets/icons/data.svg"
                alt="firstname-icon"
                class="input__icon"
              />
              <input
                type="text"
                placeholder="username@mail.com"
                class="input__content"
                id="first_name"
                name="first_name"
                required
              />
            </div>
            <span class="input__error-message">Error message</span>
          </div>
          <div class="input">
            <label for="last_name" class="content-xs overline">Last name</label>
            <div class="input__container">
              <img
                src="../assets/icons/data.svg"
                alt="lastname-icon"
                class="input__icon"
              />
              <input
                type="text"
                placeholder="username@mail.com"
                class="input__content"
                id="last_name"
                name="last_name"
                required
              />
            </div>
            <span class="input__error-message">Error message</span>
          </div>
          <div class="input">
            <label for="input-2" class="content-xs overline">Password</label>
            <div class="input__container">
              <img
                src="../assets/icons/key.svg"
                alt="user-icon"
                class="input__icon"
              />
              <input
                type="password"
                placeholder="******"
                class="input__content"
                id="input-2"
                name="input-2"
                required
              />
            </div>
            <span class="input__error-message">Error message</span>
          </div>
          <button type="submit" class="button button--secondary width-full">
            Create Account
          </button>
        </form>
        <a href="#">Login</a>
      </div>
    </section>
  </body>
</html>
