<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
      <header class="bg-gray-100 full-width flex justify-center p-y-3">
        <div class="flex justify-center gap-4 js-return">
          <img src="/assets/icons/arrow.svg" alt="">
          <img src="/assets/images/logo.png" alt="organizable logo" />
        </div>
      </header>
      <section
        class="board-view bg-green-100"
        data-listName="lists"
      >
      <h1 class="heading">Organizable</h1>
      <div class="todo-lists">
        <!-- here begins a list template -->
        <div class="list" data-id="list-todo">
          <div class="list__header">
            <h2 class="heading heading--xs">To do</h2>
            <div class="flex gap-4">
              <img src="/assets/icons/edit.svg" alt="edit" />
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
          </div>
          <hr class="full-width m-0" />
          <div
            class="card-list js-list-container"
            data-listName="cards-todo"
          >
            <div class="card" data-id="1">
              <p>Add animations</p>
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
            <div class="card" data-id="2">
              <p>Refactor functions</p>
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
            <div class="card" data-id="3">
              <p>Improve array</p>
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
          </div>
          <form action="" class="card-form">
            <input
              type="text"
              class="card-form__input"
              placeholder="new card"
            />
            <button
              class="button button--secondary button--sm button--only-icon"
            >
              <img
                src="/assets/icons/add.svg"
                alt="add icon"
                class="button__icon"
              />
            </button>
          </form>
        </div>
        <!-- here ends a list template -->
        <div class="list" data-id="list-todo">
          <!-- here begins a edit list header template -->
          <div class="list__header">
            <form action="" class="card-form">
              <input
                type="text"
                class="card-form__input"
                placeholder="Edit mode"
                value="To do"
              />
              <button
                class="button button--secondary button--sm button--only-icon"
              >
                <img
                  src="/assets/icons/tick.svg"
                  alt="add icon"
                  class="button__icon"
                />
              </button>
              <button
                class="button button--subtle-2 button--sm button--only-icon"
              >
                <img
                  src="/assets/icons/cross.svg"
                  alt="add icon"
                  class="button__icon"
                />
              </button>
            </form>
          </div>
          <!-- here ends a edit list header template -->
          <hr class="full-width m-0" />
          <div
            class="card-list js-list-container"
            data-listName="cards-todo"
          >
            <div class="card" data-id="1">
              <p>Add animations</p>
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
            <div class="card" data-id="2">
              <p>Refactor functions</p>
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
            <div class="card" data-id="3">
              <p>Improve array</p>
              <img src="/assets/icons/trash.svg" alt="trash" />
            </div>
          </div>
          <form action="" class="card-form">
            <input
              type="text"
              class="card-form__input"
              placeholder="new card"
            />
            <button
              class="button button--secondary button--sm button--only-icon"
            >
              <img
                src="/assets/icons/add.svg"
                alt="add icon"
                class="button__icon"
              />
            </button>
          </form>
        </div>
        <!-- here begins a new list form template -->
        <div class="list" data-id="list-todo">
          <div class="list__header">
            <form action="" class="card-form">
              <input
                type="text"
                class="card-form__input"
                placeholder="new list"
              />
              <button
                class="button button--secondary button--sm button--only-icon"
              >
                <img
                  src="/assets/icons/add.svg"
                  alt="add icon"
                  class="button__icon"
                />
              </button>
            </form>
          </div>
        </div>
        <!-- here ends a new list form template -->
      </div>

      </section>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="test.js"></script>
  </body>
</html>
